doctype html
html(class="no-js", lang="ru")

  include ../components/head/head
  include ../components/header/header
  include ../components/home/home
  include ../components/about/about
  include ../components/show/show
  include ../components/bar/bar
  include ../components/interior/interior
  include ../components/maps/maps
  include ../components/contacts/contacts
  include ../components/footer/footer
  head
    +head(head.defaults)
    script(src="https://api-maps.yandex.ru/2.1/?apikey=0e080473-e60f-44c2-977e-050f5c7c426c&lang=ru_RU" type="text/javascript")
  body.page
    |%=symbols=%
    
    main.matreshka-main

      +header()

      +home()

      +about()

      +show()

      +interior()
    
      +bar()

      +maps()

      +contacts()

      +footer()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')