.ethics
  padding-top 250px
  margin-bottom 50px
  position relative
  &-content
    max-width 740px
    h1
      font-size 56px
      margin-bottom 30px
    p
      margin-bottom 20px
      line-height 1.75
      &:last-child
        margin-bottom 0

  &-wrapper
    position relative
  &-image
    position absolute
    right 0
    bottom 0