mixin ethics(data)
  section.ethics
    .ethics-image
      img(src="static/img/assets/ethics/ethics.png", alt="Ethics")
    .content
      .ethics-wrapper
        .ethics-content
          h1 Этикет
          p Гости нашего клуба – это обитель уважаемых, роскошных женщин и мужчин, которые знают себе цену и у них есть одна общая черта – успех. Каждый из них достиг того, на что способны немногие в этом мире. Они понимают и ценят атмосферу Matryoshka City Club. Вот почему они приходят к нам. Относиться ко всем с уважением, достоинством и всегда спрашивать, прежде чем прикоснуться. Вот как наши гости и члены ожидают, что с ними будут обращаться, и как они относятся к другим.
          p Для сохранения безопасной среды, всех Гостей и Членов клуба просят вести себя прилично и относиться ко всем с достоинством и уважением.
          p Золотое правило в Matryoshka City Club – это согласие: мы всегда спрашиваем, прежде чем прикоснуться. Любой, кто нарушит это, будет удален Службой безопасности с запретом дальнейшего посещения клуба. Возврат денег не производится.
          p Мы ожидаем от всех Гостей и Членов клуба исключительного личного достоинства, интеллигентного общения для сохранения праздничной и комфортной атмосферы. Приоритетными принципами функционирования клуба являются приватность и сохранение конфиденциальности. Ничто не должно омрачать моменты внутренней свободы и экспрессии. Конфиденциальность превыше всего.
          p В Клубе действует dress code – элегантный Casual для джентльменов и Cocktail dress для леди. Не соблюдение dress code будет причиной отказа в посещении Клуба. Возврат денег не производится.
          p Курение в Клубе разрешено только в специальной зоне для курения. 
          p Съёмка видео и фото строжайше запрещены во время нахождения в Клубе Matryoshka City. Нарушение данного правила влечет за собой немедленное удаление из клуба. Возврат денег не производится.
          p Клуб не несет ответственность за здоровье гостей, а также за оставленные без присмотра личные вещи, гости должны сами позаботиться о своей безопасности. 
          p Неуважительное вторжение или нарушение праздника других гостей вечера может повлечь за собой удаления из клуба. Возврат денег не производится.
