mixin show(data)
  section.show
    .content  
      h2 Иммерсивное шоу
      .show-wrapper
        .show-left
          p Первый в Москва Сити ночной клуб – театр иммерсивного жанра site – specific. Это камерная атмосфера, эксклюзивные арт объекты созданные специально для шоу данного конкретного места, эстетика чувственных эротических перфомансов, на создание которых мы вдохновляемся мировыми бестселлерами.
          p Это уникальный коллаж перфомансов от кабаре и цирковых трюков до вокала и пикантного бурлеска. Истории непредсказуемы, непохожи друг на друга, но в них есть общая черта – безусловная любовь.
          p Это идеальная игровая площадка для взрослых. Она служит гостям местом социальных развлечений и удовлетворения праздника. Ночь Театра в кругу прекрасных артисток Matryoshka City помогает нам найти более глубокое приключение через искусство, музыку и страсть.
          p Во время шоу Гости могут насладиться изысканными напитками и блюдами от Шеф – повара.
          p Золотым правилом иммерсивного театра Matryoshka City является согласие. Для нас это означает, что мы всегда спрашиваем, прежде чем прикоснуться.
        .show-right
          .show-video   
             a(href="video.mp4" data-fancybox)
              .show-video__text
                  span Смотреть
                    br
                    | видео
                  != jadeHelpers.Icon.call(locals, {iconName: 'play', className: 'svg-icon', iconWidth: '60', iconHeight: '60'})
              img(src="static/img/assets/show/s1.jpg", alt="Show") 