@media screen and (max-width: 1230px)
  .content
    width 950px
  .header nav.menu ul li
    margin-right 20px
  .header-phone
    margin-right 20px
  .header
    &-center
      a
        width 150px
        height 150px
  .header nav.menu ul a,
  .header-right a,
  .header-right span
    font-size 16px
  .home-title h1
    font-size 60px
  .home-subtitle span
    font-size 20px


  .show
    &-wrapper
      align-items flex-start
    
  
  .interior
    padding-top 50px
    padding-bottom 100px
  h3
    font-size 35px
  
  .bar
    padding-bottom 50px
    padding-top 0
  .maps
    height 600px
  .contacts
    padding-bottom 100px
    &-left
      width 40%
    &-right
      width 56%
    
  .footer-nav
    margin-bottom 30px
  
  .header-center
    position absolute
    left 50%
    transform translateX(-50%)

  .around 
    padding-top 150px

  .mnu
    min-height 100vh
    height auto
    bb()
    padding-top 240px
@media screen and (max-width: 992px)
  .content
    width calc(100% - 30px)
  .header nav.menu ul a, 
  .header-right a,
  .header-right span
    font-size 14px
  .header-center a
    width 100px
    height 100px
  h2
    font-size 40px
  p
    font-size 14px
  
  .show
    padding-bottom 50px
    padding-top 50px
    &-wrapper
      flex-direction column-reverse
    &-left
      width 100%
    &-right
      margin-bottom 30px
    
  
  .bar-item
    width calc(50% - 30px)
  h3  
    font-size 30px
  .bar-item__list ul li span
    font-size 16px
  .bar-item__list
    margin-bottom 40px
  .maps
    height 400px
  .contacts
    padding-bottom 50px
  .footer-nav ul a
    font-size 16px

  .ethics
    padding-top 150px
  
  .mnu
    padding-top 100px
  .gallery-tags ul li
    margin-right 30px

  .gallery-tags ul li a
    font-size 16px
  
  .gallery
    padding-top 100px
    padding-bottom 50px

  .private
    padding-top 150px

  .vacancy
    padding-top 150px
    &-items
      flex-wrap wrap
    &-item
      flex auto
      &:last-child
        margin-top 20px
  .vacancy-info
    line-height normal
    margin-bottom 40px

@media screen and (max-width: 767px)
  .header
    display none
  .home-title h1,
  .around h1,
  .ethics-content h1,
  .private-title h1
    font-size 40px
  .home-subtitle span
    font-size 14px
  
  .home-button
    .button
      width 68px
      height 68px
      border-radius 50%
      padding 0
      display flex
      justify-content center
      align-items center
      span
        font-size 12px
  
  .about
    &-item
      display block
      &__content,
      &__image
        width 100%;
      &__content
        text-align center
        p
          font-size 12px
          font-family $IExtraLight
  h2 
    font-size 32px
  .about-item__content h2
    margin-bottom 15px
  
  .show-right
    width 100%
  .show-video__text span
    display none
  .show-left p
    font-size 12px
    font-family $IExtraLight
  
  .bar-wrapper
    flex-wrap wrap
  
  .bar-item
    width 100%
    margin-bottom 60px
    &:last-child
      margin-bottom 0
    &__name
      margin-bottom 15px
    &__list ul li
      margin-bottom 20px
      span
        font-size 12px
  h3
    font-size 24px
  .button span
    font-size 12px
  .button
    height 48px
  
  .maps
    height 370px
  .contacts
    &-wrapper
      flex-wrap wrap
    &-left
      width 100%
      margin-bottom 15px
    &-right
      width 100%

  .contacts-item a:nth-child(2),
  .contacts-item span:nth-child(2)
    font-size 16px
  .contacts-item span
    font-size 14px
    margin-bottom 10px
  .contacts-item
    margin-bottom 24px
  .contacts-button
    .button
      width 100%
      justify-content center
      bb()
  
  .contacts
    padding-bottom 80px
  
  .footer
    padding-top 30px
    &-nav
      display none
    &-logo
      margin-bottom 24px
  
  .around
    padding-top 60px
    padding-bottom 50px
  .conditions
    padding-bottom 50px
  .ethics
    padding-top 60px
  
  .mnu
    padding-top 60px

  .gallery
    padding-top 50px
  .gallery-tags ul li a
    font-size 14px
  .gallery-tags ul li
    margin-right 30px
  .gallery-tags
    margin-bottom 40px
    ul
      flex-wrap wrap
      margin-bottom -30px
    li
      margin-bottom 30px
    
  

  .gallery
    &-items
      justify-content space-between
    &-item
      margin-right 0
      width calc(50% - 10px)
      height 200px


  .private
    padding-top 60px
    padding-bottom 50px
    &-wrapper
      flex-flow wrap
    &-left,
    &-right
      width 100%
    &-left
      margin-bottom 30px
    
  .vacancy
    padding-top 60px
  .vacancy-item
    margin-top 30px
    width 100%
  .vacancy-item a:nth-child(2), .vacancy-item span:nth-child(2)
    line-height normal
  .vacancy
    padding-bottom 50px
  
  .notfound
    height auto
    padding-top 60px
    padding-bottom 200px