mixin mnu(data)
  section.bar.mnu  
    .home-video
      img(src="static/img/assets/home/home.jpg", alt="Home")
    .content 
      .bar-wrapper

        .bar-item
          .bar-item__name
            h3 Коллекция блюд
          .bar-item__list
            ul
              li
                span Салат с хрустящими баклажанами
                i 
                span 550₽
              li
                span Салат с ростбифом
                i 
                span 1100₽
              li
                span Севиче из сибаса
                i 
                span 950₽
              li
                span Тартар из лосося
                i 
                span 880₽
              li
                span Мясное ассорти
                i 
                span 1900₽
              li
                span Том ям с морепродуктами
                i 
                span 780₽
              li
                span Хамам из цыпленка с киноа
                i 
                span 650₽
              li
                span Цветная капуста с кукурузной кашей
                i 
                span 650₽
          
          .bar-item__button
            +button("#", 'Смотерть коллекцию барной карты').button-full
        .bar-item
          .bar-item__name
            h3 Коллекция барной карты
          .bar-item__list
            ul
              li
                span Джеймесон 
                i 
                span 550₽
              li
                span Бушмилз Молт 10лет
                i 
                span 1100₽
              li
                span Талмор Дью 12 лет
                i 
                span 950₽
              li
                span Никка Фром Зе Баррел
                i 
                span 880₽
              li
                span Барбадийо ББ Солера
                i 
                span 1900₽
              li
                span Блантонс Ориджинал
                i 
                span 780₽
              li
                span Бурбон Баффало Трейс
                i 
                span 650₽
              li
                span Уайлд Теки 81
                i 
                span 650₽
          
          
          .bar-item__button
            +button("#", 'Смотерть коллекцию барной карты').button-full