mixin about(data)
  section.about
    .content
      .about-wrapper

        .about-item
          .about-item__content
            h2  Matryoshka city
            p Первый в Москва Сити ночной клуб - театр жанра site - specific. Гостям предоставляются высочайшие стандарты творческих мероприятий с безусловным соблюдением конфиденциальности и безопасности.
            p Во время иммерсивного шоу гости могут насладиться изысканными блюдами от Шеф - повара и утонченными коллекциями барной карты. 
          .about-item__image
            img(src="static/img/assets/about/a1.jpg", alt="About")
        
        .about-item
          .about-item__content
            h2  Атмосфера
            p Это красивые люди, невероятное гостеприимство, сервис высочайшего уровня, роскошный Diner. Это всегда про прекрасное и откровенное, но высокохудожественное.
          .about-item__image
            img(src="static/img/assets/about/a2.jpg", alt="About")