mixin gallery(data)
  section.gallery 
    .content
      .gallery-title
        h1 Галерея
      .gallery-tags
        ul
          li.active
            a(href="#") Вся галерея
          li
            a(href="#") Театр
          li
            a(href="#") Интерьер
          li
            a(href="#") Коллекция блюд
          li
            a(href="#") Коллекция барной карты
      
      .gallery-items

        .gallery-item 
          a(href="static/img/assets/gallery/g1.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g1.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g2.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g2.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g3.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g3.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g4.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g4.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g5.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g5.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g6.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g6.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g7.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g7.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g8.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g8.jpg", alt="Gallery") 
        .gallery-item 
          a(href="static/img/assets/gallery/g9.jpg" data-fancybox='gallery')
            img(src="static/img/assets/gallery/g9.jpg", alt="Gallery") 