mixin header(data)
  header.header
    .content
      .header-wrapper
        .header-left
          nav.menu  
            ul
              li
                a(href="#") Главная
              li
                a(href="#") О клубе
              li
                a(href="#") Этикет
              li
                a(href="#") Меню
              li
                a(href="#") Контакты
        .header-center
          img(src="static/img/assets/header/logo.png", alt="Logo")
        .header-right
          .header-phone
            a(href="tel:+7 (999) 336-01-86")  +7 (999) 336-01-86
          .header-span
            span Москва-Сити, башня «ОКО», 6 этаж