include ../button/button
mixin private(data)
  section.private
    .home-video
      img(src="static/img/assets/home/home.jpg", alt="Home")
    .content
      .private-title
        h1 Частные мероприятия
      .private-wrapper
        .private-left
          p Камерная атмосфера, мультимедийное пространство по всему периметру, эксклюзивные арт объекты, люксовая комфортная локация и современные технические возможности площадки – уникальное сочетание для организации закрытых мероприятий: частных показов, корпоративных событий, презентаций, юбилеев, деловых встреч, встреч друзей.
          p В дополнение к нашим частным мероприятиям, команда исполнителей, креативщиков и специалистов по логистике предлагает услуги по организации частных мероприятий в стиле Matryoshka City в ваших локациях: сервис высочайшего уровня, изысканная кухня и кейтеринг, коллекционная барная и винная карта, охрана, клининг, конфиденциальность.
          p А также оформление пространства, арт объекты, декорации, световое оформление, качественный звук, топовые DJ Москвы. Кроме этого, звездный актерский состав, эстетика эротических перфомансов, театральные постановки разных жанров. Коллектив открыт к общению на любые темы.
          p Для заказа частного мероприятия на Вашей территории Заказчику необходимо пройти личное знакомство непосредственно в Клубе.
        .private-right
          .private-item
            .private-item__name Оформление пространства
            .private-item__list
              ul
                li Уникальные арт объекты
                li Световое оформление и качественный звук
                li Лучшие DJ Москвы
          .private-item
            .private-item__name Актерский состав
            .private-item__list
              ul
                li Эстетика перфомансов жанра «NU»
                li Театральные постановки разных жанров
                li Коллектив открыт к общению
          .private-item
            .private-item__name Безупречный сервис
            .private-item__list
              ul
                li Коллекционная барная и винная карта
                li Изысканная кухня и кейтеринг
                li Охрана, клининг, конфиденциальность
    
      
      .private-bottom
        h4 Условия
        span Я согласен / согласна
        p Конфиденциальность и безопасность Участников Matryoshka City Club имеет первостепенное значение, и конфиденциальность требуется от всех Гостей, Участников, Исполнителей, Сотрудников.
        p Для заказа частного мероприятия Matryoshka City Club настоящим Вы соглашаетесь со следующим:
        p Не раскрывать идентификационную информацию любого Участника Matryoshka City Club, Исполнителя или Сотрудника средствам массовой информации;
        p Не использовать фото / видео съемку в отношении Участников, Исполнителей и Сотрудников Matryoshka City Club;
        p Относиться ко всем с уважением;
        p Спрашивать, прежде чем прикоснуться;
        p Уведомлять Службу Безопасности Matryoshka City Club или персонал, если в любое время Вам станет известно или у Вас будут разумные основания подозревать, что безопасность Участников, Исполнителей и Сотрудников Matryoshka City Club или способность дать согласие находится под угрозой;
        p Вы признаете, что любое нарушение настоящего соглашения приведет к незамедлительному завершению Мероприятия и удалению с мероприятия Участников, Исполнителей и Сотрудников Matryoshka City Club без возврата средств и постоянному запрету на будущее посещение площадки Matryoshka City Club.
        p Возврат денег не производится.
      .private-button
        +button('#','Заказать мероприятие')