.notfound
  position relative
  padding-top 240px
  height 100vh
  bb()
  .content
    position relative
    z-index 2
    text-align center
  &-title
    margin-bottom 30px 
    h1
      font-size 56px
      
  &-paragraph
    margin-bottom 30px
    p
      font-size 16px
      line-height 1.75
      color $wh
      font-family $Inter
