include ../button/button
mixin notfound(data)
  section.notfound
    .home-video
      video(muted="muted" preload="auto" height="auto" autoplay="autoplay" loop="loop")
        source(src='video.mp4' type="video/mp4")
    .content
      .notfound-title
        h1 Страница не найдена
      .notfound-paragraph
        p Страница не найдена, либо еще не создана
      .notfound-button
        +button('#',' На главную')