mixin around(data)
  section.around
    .home-video
      img(src="static/img/assets/home/home.jpg", alt="Home")
    .content
      .around-content
        h1 О клубе
        p Matryoshka City Club – первый в Москва Сити частный ночной клуб – театр иммерсивного жанра site – specific. Это красивые люди, невероятное гостеприимство, элегантный интерьер, чувственные эротические перфомансы, роскошный Diner, сервис высочайшего уровня, обворожительные хостес, утонченные коллекции барной карты и блюд от Шеф-повара. Это праздник простого и честного общения, в котором душевное здоровье становится символом нового люкса. Это всегда про прекрасное, откровенное и высокохудожественное.
        p Гостям клуба предоставляются высочайшие стандарты творческих мероприятий с безусловным соблюдением конфиденциальности и безопасности. Золотым правилом ночного клуба Matryoshka City является согласие. Для нас это означает, что мы всегда спрашиваем, прежде чем прикоснуться.
        p В Клубе действует dress code – элегантный Casual для джентльменов и Cocktail dress для леди. 
        h4 Вход
        p Вход для Гостей начинается с 20 000 рублей для пары. Эта опция позволяет гостям провести особый вечер в Matryoshka City Club, который включает в себя вход на 2 Персоны, депозитный стол на 2 Персоны и участие в шоу. 
        p События ночного клуба Matryoshka City  могут быть изменены в связи с эпидемиологической ситуацией. Такие оплаченные резервы будут перенесены на будущие мероприятия, если перерыв неизбежен.
        h4 Членство
        p.pink Самые исключительные привилегии Matryoshka City Club приходят только с годовым Членством.
        p Приобретение Членства и стоимость обсуждаются при личной встрече в Matryoshka City Club.
        ul
          li Входные билеты включены в стоимость. Вход всегда гарантирован и зарезервирован.
          li Бронь стола на 6 Персон всегда гарантирована и зарезервирована.
          li Три гостевых визита в год на приглашение шести гостей включены в карту Члена Клуба.
          li Меню Кухни и Бара предоставляются с персональной скидкой.
          li Доступ предоставляется к индивидуальному повышенному классу обслуживания. Специально выделенный V.I.P. – персонал контролирует и обеспечивает, чтобы Членам Клуба предоставлялись все приоритеты во время мероприятий.
          li Доступ предоставляется на частную территорию парковки Клуба с персональной скидкой.
          li Доступ предоставляется к Апартаментам Клубного отеля с персональной скидкой по системе «Инкогнито» с услугами персонального Помощника, которому поручено исключительно заботиться о нуждах и комфорте нашего самого уважаемого Гостя, а также с услугами служб прачечной и химчистки с персональной скидкой.
          li Прямой доступ предоставляется к V.I.P. – консъерж службе для особых договоренностей и индивидуальных запросов.
          li Доступ предоставляется на услуги трансфера Клуба с персональной скидкой.
          li Доступ предоставляется к сопровождению Службой безопасности Клуба.
          li Доступ предоставляется на получение анонсов и приглашений на закрытые эвенты и мероприятия.