mixin conditions(data)
  section.conditions
    .content
      .conditions-top
        h4 Условия
        span Я согласен / согласна
        p Конфиденциальность и безопасность Участников Matryoshka City Club имеет первостепенное значение, и конфиденциальность требуется от всех Гостей, Участников, Исполнителей, Сотрудников.
        p Для заказа частного мероприятия Matryoshka City Club настоящим Вы соглашаетесь со следующим:
        p Не раскрывать идентификационную информацию любого Участника Matryoshka City Club, Исполнителя или Сотрудника средствам массовой информации;
        p Не использовать фото / видео съемку в отношении Участников, Исполнителей и Сотрудников Matryoshka City Club;
        p Относиться ко всем с уважением;
        p Спрашивать, прежде чем прикоснуться;
        p Уведомлять Службу Безопасности Matryoshka City Club или персонал, если в любое время Вам станет известно или у Вас будут разумные основания подозревать, что безопасность Участников, Исполнителей и Сотрудников Matryoshka City Club или способность дать согласие находится под угрозой;
        p Вы признаете, что любое нарушение настоящего соглашения приведет к незамедлительному завершению Мероприятия и удалению с мероприятия Участников, Исполнителей и Сотрудников Matryoshka City Club без возврата средств и постоянному запрету на будущее посещение площадки Matryoshka City Club.
        p Возврат денег не производится.
      .conditions-bottom
        h5 Стандарты работы Matryoshka City Club во время режима повышенной готовности из за новой короновирусной инфекции ( 2019 – nCov ):
        .conditions-items
          .conditions-item
            span Посетители
            ul
              li - недопустимо посещение при температуре 37С и/или при наличии симптомов ОРВИ
              li - разграничение зон
              li - памятки при входе по санитарным правилам
              li - социальное дистанцирование 1,5 м
          .conditions-item
            span Сотрудники
            ul
              li - регулярная дезинфекция и мытье рук
              li - использование масок ( смена раз в 3 часа )
              li - дистанция между рабочими местами 1,5 м
              li - измерение температуры на входе и контроль отсутствия признаков ОРВИ
              li - контроль за соблюдением санитарных норм посетителями и персоналом
          .conditions-item
            span Уборка и дезинфекция
            ul
              li - генеральная уборка с дезинфекцией перед открытием
              li - не реже, чем один раз в три часа влажная уборка и дезинфекция
              li - раз в 2 часа проветривание
              li - запас дезинфицирующих средств на 5 дней