.conditions
  padding-bottom 82px
  &-top
    margin-bottom 64px
    h4
      font-family $Light
      margin-bottom 32px
    span
      display block
      font-family $IMedium, 'sans-serif';
      color $pink
      margin-bottom 10px
    p
      font-size 14px
      line-height 1.5
      color $wh
      margin-bottom 10px
      &:last-child
        margin-bottom 0
  
  &-bottom
    h5
      max-width 786px
      text-transform uppercase
      line-height 1.5
      margin-bottom 30px
  &-item
    margin-bottom 32px
    &:last-child
      margin-bottom 0
    span
      display block
      font-size 14px
      line-height 1.43
      font-family $Reg
      color $wh
      margin-bottom 10px
    li
      font-size 14px
      line-height 1.43
      font-family $Inter
      color $wh