mixin interior(data)
  section.interior
    .content
      .interior-title
        h2 Интерьер
    .interior-slider
      .interior-slides
        .interior-slide
          a(href="static/img/assets/interior/i1.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i1.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i2.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i2.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i1.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i1.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i2.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i2.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i1.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i1.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i2.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i2.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i1.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i1.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i2.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i2.jpg", alt="Gallery") 
        .interior-slide
          a(href="static/img/assets/interior/i1.jpg" data-fancybox='slider')
            img(src="static/img/assets/interior/i1.jpg", alt="Gallery") 